[Unit]
Description=x11vnc remote desktop server
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/x11vnc -auth guess -forever -loop -noxdamage -xkb -repeat -ncache_cr -shared -rfbauth /etc/x11vnc.passwd -rfbport 5900 --display :0

Restart=on-failure

[Install]
WantedBy=multi-user.target